  <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                        <h1>WE WILL HELP YOU TO</h1>
                        <h1>GROW YOUR BUSINESS</h1>
                        <P>We Are The Team Of <span class="bold-style">Professional Developers</span></P>
                        <button class="btn-primary btn-style">Read More</button>
                    </div>
                    {{!-- right side --}}
                    <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                        <figure >
                            <img style="width: 100%;" src="images/growth.jpg" alt="herosection_images" srcset="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>